@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');



*{
    font-family: 'Montserrat';
}

body,h1,h2 {
    margin:0px;
    padding:0px;
}

body {
    min-width: fit-content;
}

h1 {
    font-size:36px;
    font-weight: lighter;
    font-style: normal;
    text-align: right;
}

h2 {
    font-size:20px;
    color:#282828;
    font-weight: bold;
    margin-bottom: 16px;
    border-bottom: 3px dashed #ebebeb;
    padding-bottom: 5px;
}

.name-text {
    font-size:16px;
    color:#7c7c7c;
    font-weight: lighter;
    text-align: right;
}

.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom:30px;
}

.float-wrap {
    overflow: hidden;
}

.about-img {
    width:200px;
    height:200px;
}


.img-wrap {
    text-align: center;
}

.img-wrap img{
    transition: all 0.4s linear;
}

.img-wrap:hover img{
    transform: scale(1.2);
}

.small-text{
    text-align: center;
    font-size: small;
    color: #e3f2fd;
    font-weight: bolder;
    -webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}


body.dark {
  background-color: #111;
  color: #eee;
}

body.light {
  background-color: #eee;
  color: #111;
}